<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="manifest-json">
          <match url="manifest" />
          <action type="Rewrite" url="manifest.json" />
        </rule>
        <rule name="Fail bad requests">
          <match url="^error$"/>
          <action type="CustomResponse" statusCode="404"/>
        </rule>
        <!-- <rule name="Redirect To WWW" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^emresandikci\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.{HTTP_HOST}{URL}" redirectType="Permanent" />
        </rule> -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>